@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@theme {
  --font-roboto-flex: var(--font-roboto-flex), "sans-serif";
  --font-anton: var(--font-anton), "sans-serif";
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);

  --color-default-50: var(--default-50);
  --color-default-100: var(--default-100);
  --color-default-200: var(--default-200);
  --color-default-300: var(--default-300);
  --color-default-400: var(--default-400);
  --color-default-500: var(--default-500);
  --color-default-600: var(--default-600);
  --color-default-700: var(--default-700);
  --color-default-800: var(--default-800);
  --color-default-900: var(--default-900);
  --color-default: var(--default);
}

:root {
  --radius: 0.625rem;
  --background: #181c22;
  --foreground: #ffffff;
  --card: #21262d;
  --card-foreground: #ffffff;
  --popover: #ffffff;
  --popover-foreground: #1a1f2e;
  --primary: #00a6f4;
  --primary-foreground: #0f1419;
  --secondary: #f1f5f9;
  --secondary-foreground: #1e293b;
  --muted: #f1f5f9;
  --muted-foreground: #64748b;
  --accent: #f1f5f9;
  --accent-foreground: #1e293b;
  --destructive: #ef4444;
  --border: #2d333b;
  --input: #e2e8f0;
  --ring: #94a3b8;

  --default-50: #f8fafc;
  --default-100: #f1f5f9;
  --default-200: #e2e8f0;
  --default-300: #cbd5e1;
  --default-400: #94a3b8;
  --default-500: #64748b;
  --default-600: #475569;
  --default-700: #334155;
  --default-800: #1e293b;
  --default-900: #0f172a;
  --default: #2d333b;
}

.dark {
  --background: oklch(0.129 0.042 264.695);
  --foreground: oklch(0.984 0.003 247.858);
  --card: oklch(0.208 0.042 265.755);
  --card-foreground: oklch(0.984 0.003 247.858);
  --popover: oklch(0.208 0.042 265.755);
  --popover-foreground: oklch(0.984 0.003 247.858);
  --primary: oklch(0.929 0.013 255.508);
  --primary-foreground: oklch(0.208 0.042 265.755);
  --secondary: oklch(0.279 0.041 260.031);
  --secondary-foreground: oklch(0.984 0.003 247.858);
  --muted: oklch(0.279 0.041 260.031);
  --muted-foreground: oklch(0.704 0.04 256.788);
  --accent: oklch(0.279 0.041 260.031);
  --accent-foreground: oklch(0.984 0.003 247.858);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.551 0.027 264.364);
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --sidebar: oklch(0.208 0.042 265.755);
  --sidebar-foreground: oklch(0.984 0.003 247.858);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.984 0.003 247.858);
  --sidebar-accent: oklch(0.279 0.041 260.031);
  --sidebar-accent-foreground: oklch(0.984 0.003 247.858);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.551 0.027 264.364);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-roboto-flex;
  }

  [data-scroll-container] {
    will-change: transform;
  }
  .grid-background {
    background-image: linear-gradient(hsla(0, 0%, 100%, 0.1) 1px, transparent 0),
      linear-gradient(90deg, hsla(0, 0%, 100%, 0.1) 1px, transparent 0);
  }
}
@utility container {
  margin-inline: auto;
  padding-inline: 1rem;

  @variant xl {
    max-width: 1350px;
  }
}
@utility grid-background {
  background-image: linear-gradient(hsla(0, 0%, 100%, 0.1) 1px, transparent 0),
    linear-gradient(90deg, hsla(0, 0%, 100%, 0.1) 1px, transparent 0);
}

@utility grid-overlay {
  position: absolute;
  inset: -100% 0 0 0;
  background: linear-gradient(
    180deg,
    transparent 0,
    rgba(13, 17, 23, 0.5) 40%,
    #0d1117
  );
   background-size: '60px 60px'
}

@utility animate-pulse-slow {
  animation: pulse 4s cubic-bezier(0.4, 0, 0.6, 1) infinite;
}

@keyframes pulse {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0.3;
  }
}